<app-feature-categories />

@for (category of templates(); track $index) {
  <app-template-list-container [title]="category.name">
    <ng-container ngProjectAs="title-right">
      <app-btn-base
        title="View all templates for {{ category.category }}"
        (click)="navigateTo(category.category)"
      >
        More templates
      </app-btn-base>
    </ng-container>
    <div class="relative size-6" aria-hidden="true" ngProjectAs="icon-title">
      <img
        class="rounded-md"
        [ngSrc]="categoryIcons[category.category]"
        alt="category.name"
        fill
        priority
      />
    </div>
    <ng-container ngProjectAs="list-content">
      @for (template of category.templates; track $index) {
        <a [routerLink]="[category.category, '464']">
          <app-card-template-info [cardData]="template" />
        </a>
      }
    </ng-container>
  </app-template-list-container>
}
