<section
  class="flex flex-col min-w-65 h-fit max-w-xs bg-board-column rounded-xl shadow p-3 not-motion-reduce:starting:opacity-0 not-motion-reduce:starting:translate-y-5 not-motion-reduce:transition-all not-motion-reduce:duration-400 not-motion-reduce:ease-out gap-3"
>
  <header class="font-semibold mb-2 flex justify-between">
    <h3 class="grow">
      <button class="block w-full text-left" (click)="editableToggle()">
        <span class="capitalize" [attr.contenteditable]="isEditable()"> {{title()}} </span>
      </button>
    </h3>
    {{cards().length}}
  </header>
  <div
    class="flex flex-col gap-2"
    cdkDropList
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)"
  >
    @for (card of cards(); track card.id) {
    <app-task-card cdkDrag [card]="card" />
    }
  </div>
  <app-add-list-button class="p-0 min-w-full shadow-none" (emitter)="addCard($event)" />
</section>
