:host {
  display: block;
}

.accordion {
  &-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
