:host {
  display: block;
}

.features {
  width: 100%;
  overflow-x: hidden;

  &-title {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &-list {
    display: flex;
    gap: 1rem;
    text-transform: capitalize;
    text-align: center;
  }

  &-item {
    width: 100px;
  }
}
