<nav>
  <ul class="sidebar-options">
    @for (section of sections; track $index) {
      <li>
        <app-link-btn [href]="section.link">
          <ng-container *ngComponentOutlet="section.icon" ngProjectAs="left" />
          {{ section.label }}
        </app-link-btn>
      </li>
    }
  </ul>

  <strong class="sidebar-subTitle">Workspaces</strong>

  <app-accordion>
    <ng-container ngProjectAs="header">
      <app-letter-gradient-icon [$letter]="'t'" />
      Trello Workspace
    </ng-container>

    <ul ngProjectAs="body">
      @for (workspace of workspaces; track $index) {
        <li>
          <app-link-btn [href]="workspace.link" design="ident">
            <ng-container *ngComponentOutlet="workspace.icon" ngProjectAs="left" />
            {{ workspace.label }}
          </app-link-btn>
        </li>
      }
    </ul>

    <app-card-premium-try ngProjectAs="footer" />
  </app-accordion>
</nav>
