<figure class="relative flex flex-col gap-2 p-4 rounded w-full max-w-60 border border-border-inverse text-sm bg-card overflow-hidden shadow-card">
  <figcaption class="font-semibold">Try Trello Premium</figcaption>
  <p class="leading-relaxed font-normal text-pretty">
    Get unlimited boards, all the views, unlimited automation, and more.
  </p>
  <a class="underline w-fit pb-4" href="#">Start free trial</a>
  <div class="absolute bottom-2 right-2 bg-premium-accent p-0.5 rounded">
    <app-briefcase [size]="24" />
  </div>
</figure>
