<article class="w-full">
  <h2 class="text-xl font-semibold mb-4 capitalize">features categories</h2>

  <div class="flex gap-4 capitalize text-center overflow-x-auto pb-2">
    @for (category of featureCategories | keyvalue; track $index) {
      <a [routerLink]="['/dashboard/templates/features', category.key]" class="shrink-0">
        <figure class="w-25">
          <img
            class="rounded-md aspect-square"
            aria-hidden="true"
            [ngSrc]="featureCategories[category.key]"
            alt="category.key"
            width="100"
            height="100"
          />
          <figcaption class="mt-1 text-center text-pretty">
            {{ category.key | searchAndReplace: '-' : ' ' }}
          </figcaption>
        </figure>
      </a>
    }
  </div>
</article>
