<nav
  class="flex relative gap-2 p-2 justify-between border-b-[0.15rem] border-b-transparent bg-main md:gap-4"
>
  <h1 class="sr-only">Trello</h1>

  <ul class="flex items-center gap-1 md:gap-2">
    <li>
      <app-dots-dropdown />
    </li>

    <li>
      <a
        routerLink="/"
        class="flex items-center justify-center px-2.5 py-2 rounded hover:bg-btn-hovered transition-colors"
        aria-label="to home"
      >
        <app-trello-dynamic-icon />
      </a>
    </li>

    <li class="hidden sm:block">
      <app-workspace-dropdown />
    </li>

    <li class="hidden md:block">
      <app-recent-dropdown [dropdownData]="userStore.recentBoards()" />
    </li>

    <li class="hidden lg:block">
      <app-templates-dropdown [dropdownData]="boardStore.templates()" />
    </li>

    <li class="hidden lg:block">
      <app-starred-dropdown [dropdownData]="userStore.staredBoards()" />
    </li>

    <li class="hidden sm:block">
      <app-btn-base variant="primary"> create </app-btn-base>
    </li>
  </ul>

  <ul class="flex items-center gap-1 md:gap-2">
    <li class="hidden md:block">
      <app-search-bar />
    </li>
    <li class="hidden sm:block">
      <app-notifications-dropdown />
    </li>
    <li class="hidden sm:block">
      <app-help-dropdown />
    </li>
    <li>
      <app-btn-toggle-theme />
    </li>
    <li>
      <app-user-dropdown />
    </li>
  </ul>
</nav>
