<nav
  class="navbar"
  *ngrxLet="{
    user: user$,
    templates: templates$,
  } as state"
>
  <h1 class="sr-only">Trello</h1>
  <app-navbar-main-options
    [boardRecent]="state.user.recentBoards"
    [boardStarred]="state.user.staredBoards"
    [workspace]="state.user.myWorkspaces"
    [templates]="state.templates.templates"
  />

  <app-navbar-second-options
    [dataUser]="{
      username: state.user.username,
      email: state.user.email,
      image: state.user.image,
    }"
  />
</nav>
