<button
  ngMenuTrigger
  #origin="cdkOverlayOrigin"
  #trigger="ngMenuTrigger"
  [menu]="formatMenu()"
  cdkOverlayOrigin
  [class.bg-btn-hovered]="trigger.expanded()"
  class="flex items-center gap-1 px-2.5 py-1 rounded text-sm font-semibold bg-background text-foreground hover:bg-btn-hovered focus-visible:outline-2 focus-visible:outline-active-fg capitalize"
>
  Trello Workspace
  <span
    class="material-symbols-outlined text-sm"
    translate="no"
    aria-hidden="true"
    ngProjectAs="trigger-right"
    >expand_more</span
  >
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOpen]="trigger.expanded()"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayPositions]="[
    { originX: 'start', originY: 'bottom', overlayX: 'start', overlayY: 'top', offsetY: 4 },
  ]"
>
  <div
    ngMenu
    #formatMenu="ngMenu"
    class="min-w-56 p-1 rounded-lg bg-modal shadow-card not-motion-reduce:starting:opacity-0 not-motion-reduce:transition-opacity not-motion-reduce:duration-200"
  >
    <ng-template ngMenuContent>
      @for (item of menuItems; track item.id) {
        <div
          ngMenuItem
          [value]="item.label"
          (click)="goUnderConstruction()"
          (keydown.enter)="goUnderConstruction()"
          class="flex items-center gap-3 px-3 py-2 rounded cursor-pointer text-sm hover:bg-btn-hovered focus-visible:outline-2 focus-visible:outline-active-fg"
        >
          <span
            class="material-symbols-outlined text-lg opacity-75"
            translate="no"
            aria-hidden="true"
          >{{ item.icon }}</span>

          <span>{{ item.label }}</span>
        </div>
      }
    </ng-template>
  </div>
</ng-template>
