<app-menu-core [label]="title()">
  <span
    class="material-symbols-outlined text-sm"
    translate="no"
    aria-hidden="true"
    ngProjectAs="trigger-right"
    >expand_more</span
  >

  <ng-container ngProjectAs="menu-content">
    @for (item of dropdownData(); track item.id) {
      <div
        ngMenuItem
        [value]="item.id"
        class="flex items-center gap-2 p-2 rounded cursor-pointer text-sm hover:bg-btn-hovered focus-visible:outline-2 focus-visible:outline-active-fg"
      >
        @if (item.image) {
          <img class="w-10 h-8 rounded object-cover aspect-[4/2]" [src]="item.image" alt="" />
        } @else {
          <span
            class="material-symbols-outlined text-lg opacity-75"
            translate="no"
            aria-hidden="true"
            >dashboard</span
          >
        }

        <span class="flex-1 truncate">{{ item.name }}</span>

        @if (item.tag) {
          <span
            class="ml-auto rounded-full bg-active px-2 py-0.5 text-xs font-medium text-active-fg"
          >
            {{ item.tag }}
          </span>
        }
      </div>
    } @empty {
      <app-card-common message="No items available" />
    }
  </ng-container>
</app-menu-core>
