<button
  ngMenuTrigger
  #origin="cdkOverlayOrigin"
  #trigger="ngMenuTrigger"
  [menu]="formatMenu()"
  cdkOverlayOrigin
  [class.bg-btn-hovered]="trigger.expanded()"
  class="flex items-center gap-1 px-2.5 py-1.5 rounded text-sm font-semibold bg-background text-foreground hover:bg-btn-hovered focus-visible:outline-2 focus-visible:outline-active-fg capitalize"
>
  <ng-content select="trigger-left" />

  {{ label() }}

  <ng-content select="trigger-right" />
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOpen]="trigger.expanded()"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayPositions]="overlayPositions()"
>
  <div
    ngMenu
    #formatMenu="ngMenu"
    class="min-w-60 p-1 rounded-lg bg-modal shadow-card not-motion-reduce:starting:opacity-0 not-motion-reduce:transition-opacity not-motion-reduce:duration-200"
  >
    <ng-template ngMenuContent>
      <ng-content select="menu-content">
        <app-card-common
          message="No recently visited boards"
          image="https://trello.com/assets/cc47d0a8c646581ccd08.svg"
        />
      </ng-content>
    </ng-template>
  </div>
</ng-template>
