<div class="px-6">
  <div class="max-w-7xl mx-auto flex flex-col gap-6">
    <app-board-list-container title="Starred boards">
      <app-star-icon ngProjectAs="icon-title" />
      <ng-container ngProjectAs="list-content">
        @for (item of starredBoards(); track $index) {
          <a routerLink="#">
            <app-board-card [data]="item">
              <app-btn-star-favorite (click)="onStarToggled($event)" ngProjectAs="extra-2" />
            </app-board-card>
          </a>
        }
      </ng-container>
    </app-board-list-container>

    <app-board-list-container title="Recent boards">
      <app-clock-svg ngProjectAs="icon-title" />
      <ng-container ngProjectAs="list-content">
        @for (item of recentBoards(); track $index) {
          <a routerLink="#">
            <app-board-card [data]="item">
              <app-btn-star-favorite (click)="onStarToggled($event)" ngProjectAs="extra-2" />
            </app-board-card>
          </a>
        }
      </ng-container>
    </app-board-list-container>

    <app-board-list-container title="YOUR WORKSPACES">
      <app-letter-gradient-icon [$letter]="'t'" ngProjectAs="icon-title" />
      <ng-container ngProjectAs="list-content">
        @for (item of workspaceBoards(); track $index) {
          <a routerLink="#">
            <app-board-card [data]="item" />
          </a>
        }
      </ng-container>
    </app-board-list-container>
  </div>
</div>
