<main
  class="board-body bg-transparent min-h-dvh grid grid-rows-[auto_1fr] relative"
  style="background-color: var(--bg-main)"
>
  <app-nav />
  <div class="grid grid-cols-[auto_1fr] z-10">
    <app-sidebar-board />

    <app-board>
      @for (li of list; track li.id) {
        <app-board-list
          [list]="li"
          (addCardEvent)="addCard($event)"
          (deleteListEvent)="deleteList($event)"
        >
          <ng-container ngProjectAs="board-card">
            @for (card of li.cards; track card.id) {
              <app-board-card [card]="card" (click)="openDialog(card)" />
            }
            <app-btn-base class="rounded-lg overflow-hidden mt-2" (click)="addCard(li)">
              <span class="material-symbols-outlined" style="font-size: 20px">add</span>
              add card
            </app-btn-base>
          </ng-container>
        </app-board-list>
      }

      <app-add-list-button ngProjectAs="add-list-btn" />
    </app-board>
  </div>
</main>
