<button
  class="flex items-center gap-2 px-[0.625rem] h-[2.28571em] capitalize w-full rounded font-semibold"
  [class.btn-variant-default]="variant() !== 'primary' && variant() !== 'mixed'"
  [class.btn-variant-primary]="variant() === 'primary'"
  [class.btn-variant-mixed]="variant() === 'mixed'"
  [class.btn-active]="activeStyle() && variant() === 'mixed'"
  [type]="btnType()"
  [attr.aria-label]="ariaLabel()"
>
  <ng-content select="left" />
  <ng-content />
  <ng-content select="right" />
</button>
