<section class="bg-board-column rounded-2xl w-60 min-w-60 max-h-[calc(100vh-200px)] flex flex-col" cdkDrag>
  <div class="flex font-bold justify-between items-center px-3 py-3">
    <header>
      <h3>{{ list().title }}</h3>
    </header>
    <div class="flex gap-2">
      <app-btn-base ariaLabel="options" (click)="deleteList()">
        <span class="material-symbols-outlined" style="font-size: 20px">delete</span>
      </app-btn-base>
    </div>
  </div>

  <div class="p-4 flex-1 overflow-y-auto [scrollbar-width:thin] [scrollbar-color:var(--border-inverse)_transparent]">
    <div class="flex flex-col gap-2" cdkDropList>
      <ng-content select="board-card" />
    </div>
  </div>
</section>
