<div>
  <app-btn-base
    (click)="toggleDropdown($event)"
    variant="mixed"
    [activeStyle]="isViewDropdown()"
    [rounded]="true"
  >
    <ng-content select="left" />
    <ng-content />
    <ng-content select="right" />
  </app-btn-base>
</div>

@if (isViewDropdown()) {
  <div
    class="w-[max(19rem,100%)] absolute top-0 translate-y-12 max-h-44 overflow-y-auto overflow-x-hidden p-3 bg-modal rounded-lg shadow-card z-10"
    [class.right-0]="direction() === 'right'"
    [class.left-0]="direction() === 'left'"
    tabindex="-1"
    appOutsideClick
    (emitter)="clickOutside()"
  >
    <ng-content select="dropdown" />
  </div>
}
