<nav class="w-65 h-full"
  [style.background-color]="'var(--dynamic-background-transparent, var(--ds-surface, #ffffff))'"
  [style.backdrop-filter]="'blur(0.5rem)'">
  <div class="flex justify-between items-center px-3 py-2 h-15 border-b"
    [style.border-color]="'var(--dynamic-text-transparent, #dfe1e6)'">
    <div class="flex gap-2 items-center">
      <app-letter-gradient-icon [$letter]="'t'" />
      <div class="flex flex-col justify-between h-full">
        <span class="font-semibold">Trello Workspace</span>
        <span>Free</span>
      </div>
    </div>

    <app-btn-base ariaLabel="add board">
      <app-add-svg />
    </app-btn-base>
  </div>

  <div>
    <div class="font-semibold flex justify-between items-center pl-3">
      Your boards
      <app-btn-base ariaLabel="add board">
        <app-add-svg />
      </app-btn-base>
    </div>

    <ul class="flex flex-col gap-[0.7rem]">
      <li>
        <a
          class="flex items-center gap-2 justify-between w-full px-3 py-1 hover:bg-black/5 active:bg-black/10 focus:bg-black/10"
          href="#"
        >
          <div class="flex items-center gap-2">
            <img
              class="rounded-sm"
              src="https://trello-backgrounds.s3.amazonaws.com/5ea92d56642ad37917862ea4/480x322/255c5f56ccf2b7bd68aaf9f51d0dbcc5/Asset_1%404x.png"
              alt="d"
              width="24"
              height="20"
            />
            <span class="truncate">My Trello board</span>
          </div>
          <app-btn-base ariaLabel="add favorite">
            <app-star-icon />
          </app-btn-base>
        </a>
      </li>
    </ul>
  </div>
</nav>
