<label
  tabindex="1"
  class="grid grid-cols-[auto_1fr] h-8 border border-current px-[0.3rem] rounded-[0.4rem] focus-within:outline-[0.05rem] focus-within:outline-current"
  for="search"
>
  <span class="material-symbols-outlined self-center" style="font-size: 20px">search</span>
  <textarea
    class="text-sm h-full p-[0.2rem_0_0_0.4rem] resize-none bg-transparent border-none overflow-y-hidden outline-none shadow-none placeholder:text-current"
    (click)="showResults($event)"
    type="text"
    placeholder="Search"
    name="search"
    id="search"
  ></textarea>
</label>

@if (isViewResults()) {
  <div
    class="w-[min(25rem,100%)] fixed max-h-60 overflow-y-auto bg-modal rounded-lg shadow-card translate-y-2 p-2 z-10"
    appOutsideClick
    (emitter)="clickOutside()"
    tabindex="-1"
  >
    <strong class="uppercase font-semibold text-[0.7rem] tracking-widest">recent boards</strong>
    <ul>
      @for (result of mockup; track $index) {
        <li>
          <!-- <app-link-card [data]="result" /> -->
        </li>
      } @empty {
        <app-loader-icon class="grid place-content-center min-h-40" [size]="50" />
      }
    </ul>
  </div>
}
