:host {
  display: block;
}

.user {
  display: flex;
  gap: 0.2rem;
  align-items: center;

  .user-wrapperImage {
    border-radius: 50%;
    overflow: hidden;
  }

  .user-image {
    object-fit: cover;
  }

  .user-data {
    display: flex;
    flex-direction: column;
  }

  .user-name {
  }

  .user-email {
  }
}

.minimal {
  & .user-data {
    display: none;
  }
}
