<figure class="flex items-center gap-0.5" [class]="isMinimal() ? 'minimal' : ''">
  <div class="rounded-full overflow-hidden">
    @if (dataUser().image) {
      <img
        class="object-cover"
        [ngSrc]="dataUser().image!"
        [alt]="dataUser().username + ' photo'"
        width="24"
        height="24"
      />
    } @else {
      <app-letter-gradient-icon [$letter]="dataUser().username ?? 'unknown'" />
    }
  </div>
  @if (!isMinimal()) {
    <figcaption class="flex flex-col">
      <span>{{ dataUser().username }}</span>
      <span>{{ dataUser().email }}</span>
    </figcaption>
  }
</figure>
