<div
  class="flex flex-col gap-4 p-4 border-[0.15rem] border-transparent bg-active md:flex-row md:items-center md:gap-8 not-motion-reduce:starting:translate-y-2 not-notion-reduce:starting:opacity-100 not-motion-reduce:transition-all not-notion-reduce:duration-200 not-motion-reduce:ease-out"
>
  <p class="flex-1 text-sm">
    Atlassian uses cookies to improve your browsing experience, perform analytics and research, and
    conduct advertising. Accept all cookies to indicate that you agree to our use of cookies on your
    device.
    <a class="text-active-fg underline" href="#" target="_blank" rel="noopener noreferrer">
      Atlassian cookies and tracking notice
    </a>
  </p>
  <div class="shrink flex flex-wrap gap-2 whitespace-nowrap">
    @for (option of bannerOptions; track $index) {
      <app-btn-base [variant]="option.primary ? 'primary' : null">
        @if (option.icon) {
          <app-mat-icon [name]="option.icon" [size]="20" ngProjectAs="left" />
        }
        {{ option.label }}
      </app-btn-base>
    }
  </div>
</div>
