<ng-container>
  <p class="flex-1">
    Atlassian uses cookies to improve your browsing experience, perform analytics and research, and
    conduct advertising. Accept all cookies to indicate that you agree to our use of cookies on your
    device.
    <a class="text-active-fg underline" href="#" target="_blank" rel="noopener noreferrer">
      Atlassian cookies and tracking notice
    </a>
  </p>
  <div class="shrink-1 flex gap-2 whitespace-nowrap">
    @for (option of bannerOptions; track $index) {
      <app-btn-base>
        @if (option.icon) {
          <ng-container *ngComponentOutlet="option.icon" ngProjectAs="left" />
        }
        {{ option.label }}
      </app-btn-base>
    }
  </div>
</ng-container>
