<button
  class="grid place-content-center p-0.5 rounded-full transition-transform duration-200 ease-in-out hover:scale-90 active:scale-110"
  (click)="theme.toggle()"
  type="button"
  title="change theme"
  aria-label="change theme"
>
  @if (theme.isHydrated()) {
    @if (theme.isDark()) {
      <span class="material-symbols-outlined" [style.font-size.px]="size">dark_mode</span>
    } @else {
      <span class="material-symbols-outlined" [style.font-size.px]="size">light_mode</span>
    }
  } @else {
    <span class="w-7 h-7 rounded-full bg-foreground/10 animate-pulse"></span>
  }
</button>
