:host {
  display: block;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: #ffffff3d;
  backdrop-filter: blur(0.5rem);
  gap: 0.5rem;
  height: 3.75rem;
  color: #172b4d;
}

.board-header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.board-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.board-header-actions {
  display: flex;
  gap: 0.5rem;
}
