<header class="flex justify-between items-center px-3 py-2 gap-2 h-15"
  [style.background-color]="'var(--header-bg-glass)'"
  [style.backdrop-filter]="'blur(0.5rem)'"
  [style.color]="'var(--text-main-clr)'">
  <div class="flex items-center gap-4">
    <h2 class="text-xl font-bold">{{ boardName }}</h2>
    <app-btn-base ariaLabel="add favorite">
      <span class="material-symbols-outlined" style="font-size: 20px">star</span>
    </app-btn-base>
  </div>

  <div class="flex gap-2">
    <app-btn-base ariaLabel="options">
      <span class="material-symbols-outlined" style="font-size: 20px">rocket_launch</span>
    </app-btn-base>

    <app-btn-base ariaLabel="options">
      <span class="material-symbols-outlined" style="font-size: 20px">bolt</span>
    </app-btn-base>

    <app-btn-base ariaLabel="filter board">
      <span class="material-symbols-outlined" style="font-size: 20px">filter_list</span>
      Filters
    </app-btn-base>

    <app-user [dataUser]="user" [isMinimal]="true" />

    <app-btn-base ariaLabel="options">
      <span class="material-symbols-outlined" style="font-size: 20px">more_horiz</span>
    </app-btn-base>
  </div>
</header>
