<ul class="subList">
  <li class="subList-item">
    <app-dots-dropdown />
  </li>

  <li class="subList-item">
    <app-btn-base (click)="redirectHome()" [rounded]="true" ariaLabel="to home">
      <app-trello-dynamic-icon />
    </app-btn-base>
  </li>

  <li class="subList-item">
    <app-workspace-dropdown title="Workspaces" [dropdownData]="workspace()" />
  </li>

  <li class="subList-item">
    <app-workspace-dropdown title="Recent" [dropdownData]="boardRecent()" />
  </li>

  <li class="subList-item">
    <app-workspace-dropdown title="Templates" [dropdownData]="templates()" />
  </li>

  <li class="subList-item">
    <app-workspace-dropdown title="Starred" [dropdownData]="boardStarred()" />
  </li>

  <li class="subList-item">
    <app-btn-base> create </app-btn-base>
  </li>
</ul>
