:host {
  display: block;
}

.board-card {
  background-color: var(--bg-card);
  border-radius: 0.8rem;
  box-shadow: var(--shadow-overlay);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--btn-hovered);
  }
}
