.card {
  &-try-premium {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.3rem;
    width: min(15rem, 100%);
    border: solid 1px #03040480;
    font-size: 0.9rem;
    background-color: var(--bg-card);
    overflow: hidden;
    box-shadow:
      0px 0px 0px 1px #00000000,
      0px 1px 1px #03040480,
      0px 0px 1px #03040480;
  }

  &-title {
    font-weight: 600;
  }

  &-description {
    line-height: 1.4;
    font-weight: 400;
    font-size: 0.9rem;
    text-wrap: pretty;
  }

  &-link {
    text-decoration: underline;
    width: fit-content;
    padding-bottom: 1rem;
  }

  &-icon {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background-color: #9f8fef;
    width: fit-content;
    padding: 0.1rem;
    border-radius: 0.2rem;

    &::before {
      content: '';
      position: absolute;
      background-color: var(--bg-transparent);

      z-index: 1;
      right: -28px;
      bottom: -64px;
      width: 120px;
      height: 80px;
      transform: rotate(-50deg);
      border-radius: 12px;
    }
  }
}
