/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark light;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --base: #1d2125;
      --text: #b6c2cf;
      --placeholder: #aab1be;
      --bg-input: #4A4D51;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --base: #fff;
      --text: #445471;
      --placeholder: #57616B;
      --bg-input: #fff;
    }
  }

  body {
    color: var(--text);
    background-color: var(--base);
  }
}

@layer utilities {
  .container-md {
    width: min(100%, 25rem);
    margin-inline: auto;
  }

  .shadow-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  }
}
