:host {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr;
  background-color: inherit;
}

.board-body {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  width: min(100%, 70rem);
  margin: 2.5rem auto 0;

  & app-sidebar {
    flex-shrink: 0;
  }

  & .board-projection {
    flex-grow: 1;
    height: 100%;
  }
}
